<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="luka.sever.map_seminar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".ActivateCredService"
            android:exported="false" >
            <intent-filter>
                <action android:name="luka.sever.map_seminar.action.FOO" />
            </intent-filter>
        </service>

        <activity
            android:name=".SelectedCityActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="luka.sever.map_seminar.action.FOO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>